footer {
    background-color: $bacront-bg;
    margin-top: 200px;
}

.footer__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__head {
    padding: 75px 0 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
        color: #fff;
        font-family: Georgia,
            'Times New Roman', Times, serif;
        font-size: 30px;
        padding: 35px 0;

        &:hover {
            color: $button-bg-hower;
            transform: $transform_card;
            transition: $transition-card;
        }

        &:active {
            color: $active-bg;
            transform: $transform_card;
            transition: $transition-card;
        }
    }

    ul {
        display: flex;
        gap: 34px;
        a {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 25px;
            color: #fff;
            opacity: 0.8;

            &:hover {
                color: $button-bg-hower;
                transform: $transform_card;
                transition: $transition-card;
            }

            &:active {
                color: $active-bg;
                transform: $transform_card;
                transition: $transition-card;
            }
        }
    }
}

.footer__medium {
    
    p {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #fff;
        opacity: 0.5;
        max-width: 540px;

    }
    
}
.footer__ending{
    padding: 56px 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    p {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #fff;
        opacity: 0.5;
        max-width: 540px;
        &:hover {
            color: $button-bg-hower;
            transform: $transform_card;
            transition: $transition-card;
        }

        &:active {
            color: $active-bg;
            transform: $transform_card;
            transition: $transition-card;
        }
    }
    ul{
        display: flex;
        gap: 16px;
        a{
            &:hover {
                background-color: $button-bg-hower;
                transform: $transform_card;
                transition: $transition-card;
            }

            &:active {
                background-color: $active-bg;
                transform: $transform_card;
                transition: $transition-card;
            }
        }

    }
}

            // media
            
@media screen and (max-width: 595px){
.footer__head{
    flex-direction: column;
    align-items: flex-start;
}
}   
@media screen and (max-width: 420px){
    .footer__box{
        flex-direction: column;
        align-items: center;
    }
    .footer__head{
        flex-direction: column;
        align-items: center;
        ul{
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }
    .footer__ending{
        flex-direction: column;
        align-items: center;
        ul{
            margin-top: 30px;
        }
    }
    }           