.section_box {
    display: flex;
    margin-top: 160px;
    border-radius: $btn-radus;
    &:nth-child(2){
        flex-direction: row-reverse;
    }
}

.section1__navbar {
    background-color: $card-bcront;
    max-width: 100%;
    img {
        padding: 65px 95px;

        &:hover {
            transform: $transform_card;
            transition: $transition-card;
            background-color: #4bf34b;
        }
    }
}

.section1__wraper {
    max-width: 50%;
    margin-left: 125px;

    h3 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: #D87D4A;
        margin: 109px 0 16px;
    }

    h1 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 44px;
    }

    p {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;
        padding: 32px 0 40px 0;
        max-width: 445px;
    }

    .section__btn {
        padding: 15px 31.5px;
        background-color: $button-bg;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        /* identical to box height */
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FFFFFF;

        &:hover {
            color: $button-bg-hower;
            transform: $transform_card;
            transition: $transition-card;
            background-color: #FFFFFF;
        }

        &:active {
            color: $active-bg;
            transform: $transform_card;
            transition: $transition-card;
            background-color: #FFFFFF;
        }
    }
}


@media screen and (max-width: 1000px) {
    .section1__navbar {
        img {
            padding: 30px;
            width: 400px;
        }
    }

    .section1__wraper {
        margin-left: 75px;
    }
}

@media screen and (max-width: 768px) {
    .section_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:nth-child(2){
            flex-direction: row-reverse;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .section1__navbar {
        img {
            padding: 65px 95px;
            width: auto;
        }
    }

    .section1__wraper {
        text-align: center;
        max-width: 100%;
        margin-left: 0;
    }
}
               //  media
                
@media screen and (max-width: 578px) {
    .section_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section1__navbar {
        img {
            padding: 30px 50px;
            width: auto;
        }
    }

    .section1__wraper {
        text-align: center;
        max-width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 578px) {
    .section_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section1__navbar {
        img {
            padding: 20px;
            width: 300px;
        }
    }

    .section1__wraper {
        text-align: center;
        max-width: 100%;
        margin-left: 0;
    }
}